/* Setting up grid for image gallery */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/* creating grid with 4 rows and 3 columns */

#image-1 {
    padding: 10px;
    background-color: #D3D3D3;
}